strict-peer-dependencies=false
no-frozen-lockfile=true
strict-ssl=false
no-optional=false
skip-optional=false
auto-install-peers=true
provenance=true
hoist-workspace-packages=true
save-exact=true
git-checks=true
registry=https://registry.npmjs.org/
